@{
  ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

<h1 class="display-4">Hilton's Books</h1>

<div class="row">
  @foreach (Book b in Model.Books)
  {
    <partial name="BookSummary" model="b" />
  }
</div>

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class-selected="active"></div>
